## .NET / C#
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
*.userosscache
*.sln.docstates

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## Visual Studio
.vs/
*.rsuser
*.csproj.user

## Rider
.idea/

## Build output
*.dll
*.pdb
*.exe
*.cache

## Distribution archives
*.zip
